* {
    margin: 0;
    padding: 0;
    /* 40F8FF */
    /* 279EFF */

}

body {
    background-color: #D5FFD0;

}


.nav-bar {
    background-color: #0C356A;
    display: flex;
    justify-content: right;
    color: white;
    /* font-family: 'Roboto', sans-serif; */

}

.nav-bar .right li {
    display: flex;
    float: left;
    padding: 20px;
    /* margin:0px 50px; */
    margin-right: 80px;
    font-size: 20px;

}

.nav-bar .right li a {
    color: white;
    text-decoration: none; 
}

.nav-bar .right li a:hover {
    color: #279EFF; 
}

.left {
    font-size: 30px;
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-right: 600px;

}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-right img {
    width: 400px;
    height: 400px;
    margin: 70px 0px;
    margin-left: 100px;
    border: 4px solid black;
    border-radius: 20px;
}

.about-left h2 {
    font-size: 41px;
    margin-bottom: 26px;
    font-family: 'Roboto', sans-serif;

}

.about-left {
    font-size: 20px;
    width: 40%;
}


/*****SKILL SECTION*****/

.heading-text {
    font-size: 30px;
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    font-size: 41px;
    margin-left: 90px;
    padding: 30px;
}

.skill-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

}

.skill1 {
    display: flex;
    border: 2px solid BLACK;
    height: 470px;
    width: 400px;
    text-align: center;
    padding: 12px;
    margin: 10PX;
    background-color: #212A3E;
    color: white;
    flex-direction: column;
    border-radius: 10%;
}

.skill {
    text-align: left;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.skill div {
    width: 100%;
    float: left;
    /* margin-top: 5px;  */
}

.skill div span {
    background: #ffbf35;
    height: 5px;
    float: left;
    /* padding: 1px; */
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.card1 {
    display: flex;
    background-color: #212A3E;
    color: white;
    flex-direction: column;
    width: 400px;
    height: 470px;
    padding: 12px;
    margin: 10px;
    align-items: center;
    border: 3px solid black;
    border-radius: 10%;

}

.card1 ul li,
.card2 ul li {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 17px;
}

.card1 h3,
.card2 h3,
.skill1 h3 {
    /* padding: 20px; */
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    margin-bottom: 15px;

}


.card2 {
    display: flex;
    background-color: #212A3E;
    color: white;
    flex-direction: column;
    width: 400px;
    height: 470px;
    padding: 12px;
    margin: 10px;
    align-items: center;
    border: 3px solid black;
    border-radius: 10%;
}


.card2 ul li {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
}


.card1:hover , .card2:hover ,.skill1:hover{
   background-color: #3c4353;
}

footer {
    display: flex;
    margin-top: 100px;
    background-color: #0C356A;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}